@import './variables'

.app-tile
	box-shadow: $rest-shadow
	margin: $spacing
	padding: $spacing
	border-radius: $default-border-radius
	background: white
	border: 1px solid #f1f2f2
	cursor: pointer
	transition: box-shadow .23s ease-out, background-color .23s ease-out
	// will-change: transform, opacity

	> div:first-child
		margin-bottom: $spacing / 2

	&:hover
		background-color: #fcfcfc
		box-shadow: $hover-shadow

img
	width: 48px
	height: 48px
	border-radius: $spacing / 2
	flex-grow: 0
	object-fit: cover
	border-radius: 50%
	box-shadow: $rest-shadow

h3
	margin: 0 0 0 $spacing / 2
	flex-grow: 0
	font-size: 1.34rem
	text-shadow: none
	font-weight: 500

label
	color: $dark-accent
	margin: 0
	display: block