@import './variables'
@import './mixins'

.app-tile
	@include transition(background-color, box-shadow)
	box-shadow: $rest-shadow
	margin: $spacing
	padding: $spacing
	border-radius: $default-border-radius
	background: white
	border: 1px solid #f1f2f2
	cursor: pointer

	> div:first-child
		margin-bottom: $spacing / 2

	&:hover
		background-color: #fcfcfc
		box-shadow: $entry-hover-bg-shadow

img
	width: 48px
	height: 48px
	border-radius: $spacing / 2
	flex-grow: 0
	object-fit: cover
	border-radius: 50%
	box-shadow: $rest-shadow

h3
	margin: 0 0 0 $spacing / 2
	flex-grow: 0
	font-size: 1.34rem
	text-shadow: none
	font-weight: 500

label
	color: $dark-accent
	margin: 0
	display: block