@import './Variables.sass'

.version-container
	flex-grow: 1
	flex-flow: column
	display: flex
	align-items: center
	margin: 16px

	.version
		min-width: 600px
		border-radius: 10px
		background: white
		display: flex
		flex-flow: row
		margin: 16px 0
		padding: 0 16px
		display: flex
		justify-content: space-around
		align-items: center
		transition: all .33s ease-out
		box-shadow: $rest-shadow

		&:hover
			box-shadow: $hover-shadow
			background-color: $bright-accent

		span
			svg
				width: 32px
				height: 32px

.version-modal
	.content
		max-width: 720px

		form
			max-width: none
			justify-content: space-between

			> .row
				margin: 16px

				.column
					&:first-child
						flex-grow: 1
					
					+ .column
						max-width: 300px
						min-width: 300px
						margin-left: 16px

						> .spread.center-y
							padding-bottom: 16px
	button
		min-width: 280px

	.dropzone
		margin: 0 0 0 16px
		height: 32px
		
	textarea
		flex-grow: 1

	.os-row
		align-items: center
		padding: 16px 0 0 16px

		> * 
			flex-grow: 0

		span
			width: 24px
			height: 24px

		.switch
			flex-grow: 0

		&:last-of-type
			margin-bottom: 16px

		+ label
			margin: 16px
	