@import './variables'
@import './mixins'
@import './animations'

.apps-page-container
	@include container
	
	.apps-container
		display: grid
		grid-template-columns: repeat(auto-fill, $spacing * 2 * 12)
		// grid-auto-rows: $spacing * 2 * 9
		margin: $spacing
		justify-content: center
		align-content: center

.profile
	@include transition(transform)
	margin-bottom: $spacing / 2
	
	h5
		font-size: 1.6rem
		margin: 0 $spacing 0 0
		text-transform: capitalize
		font-weight: 400
		color: $text

	span
		svg, img
			width: $spacing * 2
			height: $spacing * 2
			padding:  $spacing / 4
			background-color: $entry-bg
			box-shadow: $rest-shadow
			border-radius: 50%

	g, path
		fill: $accent

.password-row
	max-width: 300px
