@import './Variables.sass'
@import './Mixins.sass'

.upload-container
	display: flex
	justify-content: center
	flex-flow: column
	align-items: center

	.upload-icon
		border-radius: 50%
		background-color: #dedede
		width: 96px
		height: 96px
		display: flex
		justify-content: center
		align-items: center
		box-shadow: 0 5px 12px rgba(67, 106, 185, .12), 0 1px 4px rgba(67, 106, 185, .03), 0 -5px 15px -1px rgba(67, 106, 185, .01), inset 0 0 20px -3px rgba(67, 106, 185, .45)
		cursor: pointer
		transition: all .33s ease-out
		margin-bottom: 16px

		svg
			width: 56px
			height: 56px    
			transition: all .33s ease-out
			color: #7287ab

		&:hover
			background-color: darken(#dedede, 7%)
			
			svg 
				fill: darken($default-text-color, 15%)

.apps-page-container
	flex-grow: 1
	min-height: 100vh

	header
		display: flex
		justify-content: space-between
		border-bottom: 1px solid $accent
		align-items: flex-end
		margin: 16px 32px 0

		h1
			margin: 32px 0 8px

		button.small
			margin: 0 0 8px 

			span
				width: 22px
				height: 22px
				margin-right: 8px
	
	.apps-container
		display: flex
		flex-flow: row wrap
		margin: 16px
		justify-content: space-around

		.app-tile
			@include defaultShadow($accent)
			margin: 16px
			padding: 12px
			width: 160px
			height: 192px
			border-radius: 6px
			background: white
			border: 1px solid $accent
			cursor: pointer

			img
				height: 32px
				border-radius: 8px
				flex-grow: 0
				border: 1px solid $accent

			h1
				font-size: 1.3rem
				text-shadow: none
				margin: 0
				font-weight: 450

			.top-row
				justify-content: space-between
				height: 34px
				align-items: center

			label
				color: $dark-accent
				margin: 0
				display: block
