@import './mixins'
@import './variables'
	
button
	@include ease(box-shadow, background-color, transform, background-position)
	display: flex
	justify-content: center
	align-items: center
	flex-flow: row
	padding: $spacing
	border: 0
	font-size: 1.14rem
	border-radius: 40px
	overflow: hidden
	background: white
	text-transform: uppercase
	font-weight: 400
	// min-width: $spacing * 10
	user-select: none
	cursor: pointer

	&:focus
		outline: none

	svg
		width: $spacing
		height: $spacing
		
	span
		margin-right: $spacing / 2

button.small	
	padding: 0 12px
	min-height: 40px

button.white
	@include outline-button($accent)

button.green
	@include dark-button($green)

button.blue
	@include dark-button($blue)

button.orange
	@include dark-button($orange)

button.red
	@include outline-button($red)