@import './mixins'
@import './variables'

@mixin outline-button($color)
	$darker: darken($color, 15%)
	background-color: transparent
	border: 2px solid $color
	color: $color
	transition: all .23s ease-out
	box-shadow: $rest-shadow

	&:focus, &:hover
		box-shadow: $hover-shadow
		background-color: $color
		color: white


@mixin color-button($background, $color, $accent)
	@include glowingShadow($accent)
	background-color: $background
	color: $color

	&:focus
		@include glowingShadow(desaturate($accent, 15%))
		border-color: desaturate($background, 15%)
		background-color: desaturate($background, 15%)

	&:hover
		@include glowingShadow(desaturate($accent, 15%))
		border-color: desaturate($background, 15%)
		background-color: desaturate($background, 15%)

@mixin light-button($background, $color) 
	@include color-button($background, $color, lighten($background, 15%))

@mixin dark-button($background, $color) 
	@include color-button($background, $color, darken($background, 5%))
	
button
	display: flex
	justify-content: center
	align-items: center
	flex-flow: row
	padding: $spacing
	border: 0
	font-size: 1.14rem
	border-radius: 40px
	overflow: hidden
	margin: $spacing
	background: white
	text-transform: uppercase
	font-weight: 700
	transition: box-shadow .23s ease-out, background-color .22s ease-out, transform .13s ease-out
	min-width: 180px
	user-select: none

	&:focus
		outline: none

button.no-shadow
	// box-shadow: none !important

button.small	
	padding: 0 12px
	min-height: 40px

button.green
	@include light-button($green, white)
	
button.green.shrink
	@include glowingShadow(desaturate(lighten($green, 15%), 30%))

button.white
	// @include dark-button($transparent, $default-text-color)
	// @include outline-button($dark-accent)
	@include color-button(transparent, $default-text-color, $accent)

button.white.shrink
	@include glowingShadow(desaturate($accent, 15%))	

button.blue
	@include light-button($light-blue, white)
	background-image: linear-gradient(to left top, $dark-blue 0%, $light-blue 100%)
	// @include outline-button($light-blue)

button.blue.shrink
	@include glowingShadow(desaturate(lighten($light-blue, 15%), 30%))

