@import './mixins'
@import './variables'

@mixin outline-button($color)
	$darker: darken($color, 15%)
	background-color: transparent
	border: 2px solid $color
	color: $color
	transition: all .23s ease-out
	box-shadow: $rest-shadow

	&:focus, &:hover
		box-shadow: $entry-hover-bg-shadow
		background-color: $color
		color: white


@mixin color-button($background, $color, $accent)
	@include glowingShadow($accent)

	$darker: darken($background, 32%)

	background-size: auto 200%
	background-position: 0 100%
	background-image: linear-gradient(to right top, $background 0%, $darker 100%)
	color: $color

	&:focus, &:hover
		@include glowingShadow(desaturate($accent, 16%))
		background-position: 0 0
		// background-image: linear-gradient(to left top, $desaturated 0%, $lighter-desatirated 100%)

@mixin light-button($background, $color) 
	@include color-button($background, $color, lighten($background, 15%))

@mixin dark-button($background, $color) 
	@include color-button($background, $color, darken($background, 5%))
	
button
	@include transition(box-shadow, background-color, transform, background-position)
	display: flex
	justify-content: center
	align-items: center
	flex-flow: row
	padding: $spacing
	border: 0
	font-size: 1.14rem
	border-radius: 40px
	overflow: hidden
	margin: $spacing
	background: white
	text-transform: uppercase
	font-weight: 700
	min-width: 180px
	user-select: none
	cursor: pointer

	&:focus
		outline: none

button.small	
	padding: 0 12px
	min-height: 40px

button.green
	@include light-button($green, white)


button.white
	@include color-button($entry-bg, $text, $accent)	

button.blue
	@include light-button($blue, white)


