@import './Mixins.sass'
@import './Variables.sass'

$icon-size: 22px

.input-container
	display: flex
	position: relative

	.input-bar
		margin: 0 16px
		width: calc(100% - (2 * 16px))
		flex-grow: 1
		position: absolute
		height: 1px
		background-color: $accent
		bottom: 28px
		box-shadow: none
		transition: all .33s ease-out

	input
		border: none
		padding: 16px
		padding-right: 16px + $icon-size
		font-size: 1.14rem
		border-radius: 6px
		transition: all .33s ease-out
		background: transparent
		flex-grow: 1
		margin: 16px 0

		&:focus
			box-shadow: $subtle-shadow
			outline: none

		&:hover
			background: #ffffff47

		span
			display: absolute
			right: 16px

	input:focus + .input-bar
		@include defaultShadow(#86919a61)
		background-color: $default-text-color

	.icon
		position: absolute
		top: 32px
		right: 16px
		width: $icon-size
		height: $icon-size