@import './mixins'
@import './variables'

.label
	margin-bottom: $spacing / 2

.container
	position: relative

.bar
	@include transition(box-shadow, background-color)
	// margin: 0 $spacing
	width: 100%
	flex-grow: 1
	position: absolute
	height: 1px
	background-color: $accent
	bottom: 12px
	box-shadow: none

input
	@include transition(box-shadow, background-color)
	@include focus-shadow
	border: none
	flex-grow: 1
	margin: $spacing / 2 $spacing * -1 0
	background-color: transparent
	border-radius: $default-border-radius
	background-color: $entry-bg
	padding: $spacing
	font-size: 1.14rem
	position: relative
	width: calc(100% - 2 * #{$spacing})
	color: $text
	width: 100%

	&:focus, &:hover
		outline: none
		background-color: $entry-hover-bg

	span
		display: absolute
		right: $spacing

input:focus + .bar
	background-color: $dark-accent
	box-shadow: $rest-shadow

input:focus + .bar + .icon
	svg, g, path
		fill: $dark-accent

.icon
	position: absolute
	right: 0
	bottom: $spacing
	width: $icon-size
	height: $icon-size
	color: $dark-accent

	svg, g, path
		@include transition(background-color)
		fill: $accent