@import './mixins'
@import './variables'

.container
	display: flex
	position: relative

.bar
	@include transition(box-shadow, background-color)
	margin: 0 $spacing
	width: calc(100% - (2 * #{$spacing}))
	flex-grow: 1
	position: absolute
	height: 1px
	background-color: $accent
	bottom: 28px
	box-shadow: none

input
	@include transition(box-shadow, background-color)
	border: none
	padding: $spacing
	padding-right: $spacing + $icon-size
	font-size: 1.14rem
	border-radius: $default-border-radius
	background: $bright-accent
	flex-grow: 1

	&:focus, &:hover
		outline: none
		box-shadow: $rest-shadow
		background-color: $accent-hover

	span
		display: absolute
		right: $spacing

input:focus + .bar
	box-shadow: $rest-shadow
	background-color: $default-text-color

input:focus + .bar + .icon
	color: $default-text-color

	svg
		fill: $default-text-color

.icon
	position: absolute
	top: $spacing * 2
	right: $spacing
	width: $icon-size
	height: $icon-size
	color: $dark-accent

	svg
		@include transition(background-color)
		fill: $dark-accent