@import './mixins'
@import './variables'

.label
	margin: 0 $spacing $spacing / 2

.container
	position: relative

	label
		margin: 0 $spacing $spacing / 2

.bar
	@include transition(box-shadow, background-color)
	margin: 0 $spacing
	width: calc(100% - (2 * #{$spacing}))
	flex-grow: 1
	position: absolute
	height: 1px
	background-color: $accent
	bottom: 12px
	box-shadow: none

input
	@include transition(box-shadow, background-color)
	border: none
	flex-grow: 1
	margin: 0
	background-color: transparent
	border-radius: $default-border-radius
	background-color: $entry-bg
	padding: $spacing
	font-size: 1.14rem
	position: relative
	width: calc(100% - 2 * #{$spacing})
	color: $text

	&:focus, &:hover
		outline: none
		box-shadow: $rest-shadow
		background-color: $entry-hover-bg

	span
		display: absolute
		right: $spacing

input:focus + .bar
	box-shadow: $rest-shadow
	background-color: $dark-accent

input:focus + .bar + .icon
	color: $dark-accent

	svg
		fill: $dark-accent

.icon
	position: absolute
	right: $spacing
	bottom: $spacing
	width: $icon-size
	height: $icon-size
	color: $dark-accent

	svg
		@include transition(background-color)
		fill: $dark-accent