@import './variables'

.row
	display: flex
	flex-flow: row wrap

.column
	display: flex
	flex-flow: column wrap

.spread
	justify-content: space-between

.center-x
	justify-content: center

.center-y
	align-items: center

.margin
	margin: $spacing

.padding
	padding: $spacing

.expand
	> * 
		flex-grow: 1

.left
	margin-right: auto

.right
	margin-left: auto

.grow
	flex-grow: 1

.list-y
	> *
		margin-bottom: $spacing

		&:last-child
			margin-bottom: 0px

.list-x
	> *
		margin-right: $spacing

		&:last-child
			margin-right: 0px
