@import './variables'
@import './mixins'
@import './animations.sass'

.container
	@include glide
	background-image: $login-bg
	
	button
		min-width: $spacing * 10

.form
	box-shadow: $rest-shadow
	background-color: $entry-bg
	padding: $spacing * 2
	border-radius: $default-border-radius
	max-width: 600px

	h1
		margin-top: 0px
		margin-bottom: 32px

	> span > *:last-child
		margin-top: $spacing

.login-form
	max-width: 412px - 4 * $spacing

.error
	padding: $spacing
	background-color: transparentize($red, 0.92)
	border-radius: $default-border-radius
	margin: 0 -1 * $spacing $spacing
	color: darken($red, 8%)

	~ div
		input[type="password"]
			background-color: transparentize($red, 0.92)

.logo
	display: flex
	justify-content: center
	height: 128px
	width: 128px
	border-radius: 50%
	// box-shadow: $rest-shadow
	margin: 0 auto 32px

	svg
		width: 128px
		height: 80px
		flex-grow: 0
		padding: 16px

@media screen and (max-width: 420px)
	.form
		height: 100vh
		
	.container
		button 
			min-width: 140px