@mixin glowingShadow($color)
	box-shadow: 0 $spacing 60px transparentize(darken($color, 10%), 0.4), 0 4px 14px transparentize($color, 0.6)

@mixin text-overflow
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

@mixin shrink
	transform: scale(0.96)

@mixin transition($properties...)
	transition-duration: .18s
	transition-timing-function: ease-in-out
	transition-property: $properties
	will-change: $properties

@mixin container
	flex-grow: 1
	min-height: 100vh

@mixin dot($color)
	$size: $spacing / 2
	width: $size
	height: $size
	background-color: $color
	border-radius: 4px
	box-shadow: $entry-hover-bg-shadow
	margin-right: 4px
