@import './mixins'
@import './variables'
	
.modal-container
	position: fixed
	top: 0
	left: 0
	min-height: 100vh
	width: 100vw
	display: flex
	justify-content: center
	align-items: center
	background-color: #e6e6e6cc

	.content
		@include glowingShadow($accent)
		min-width: 428px
		border-radius: 16px
		background-color: white
		position: relative
		overflow: hidden
		padding: $spacing * 1.5

	.progress-bar
		position: absolute
		width: 100%
		height: 4px
		top: 0 
		left: 0

		.completed
			border-radius: 2px
			transition: width .23s ease-out
			background-image: linear-gradient(to right, $blue 0%, lighten(saturate($blue, 30%), 12%) 100%)
			height: 4px
			box-shadow: $entry-hover-bg-shadow
			animation: moving-gradient infinite 3s ease
			background-size: 200% 200%
			will-change: width

	svg
		width: $icon-size
		height: $icon-size

	.close
		@include transition(transform)
		cursor: pointer

	header
		display: flex
		justify-content: space-between
		align-items: center
		border-bottom: 1px solid $accent

		h2
			margin: $spacing / 2 0

	footer
		display: flex
		justify-content: flex-end
		border-top: 1px solid $accent
		
		button
			margin: $spacing 0 0 $spacing

@keyframes moving-gradient
	0% 
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50% 

@media screen and (max-width: $break-small)
	h1, h2
		font-size: 1.8rem

	form
		span > span
			flex-grow: 1

	.modal-container
		.content, .column
			min-width: 100vw
			max-width: 100vw
			padding: 0
			min-height: 100vh

		.content
			border-radius: 0

			header
				padding: 0 $spacing
	
			footer
				justify-content: center
