@import './Mixins.sass'
@import './Variables.sass'
	
.modal-container
	position: fixed
	top: 0
	left: 0
	height: 100vh
	width: 100vw
	display: flex
	justify-content: center
	align-items: center
	background-color: #65656578

	.content
		@include defaultShadow(#b5b5b57d)
		min-width: 428px
		max-width: 580px
		flex-grow: 1
		border-radius: 6px
		background-color: white

	svg
		width: 24px
		height: 24px

	header.spread
		align-items: center
		margin: 16px 32px
		border-bottom: 1px solid $accent
