@import './variables'
@import './mixins'
	
.container
	position: relative

	&:hover
		.tip
			opacity: 1
			transform: scale(1) translateY(0px)

.tip
	@include transition(transform, opacity)
	position: absolute
	top: -$spacing * 3
	padding: $spacing / 4 $spacing
	transform: translateY($spacing) scale(0.9)
	background: $bright-accent
	color: $default-text-color
	box-shadow: $hover-shadow
	border-radius: 40px
	font-size: 1rem
	opacity: 0
	pointer-events: none
	will-change: opacity, transform