$text: #334562
$light-text: #6B6B6B

$dark-accent: #9a9a9a
$accent: #dedede

$entry-bg: #fafafa
$entry-hover-bg: #f7f7f7

$green: #54f18e
$blue: #58B6FD
$red: #f96868
$orange: #ffb76b

$spacing: 16px
$default-border-radius: 10px
$icon-size: $spacing * 1.5

$rest-shadow: 0 0 3px 3px transparentize($accent, 0.95), 0 4px 15px transparentize($accent, 0.68)
$hover-shadow: 0 5px 12px transparentize($accent, 0.92), 0 1px 4px transparentize($accent, 0.91), 0 -5px 15px -1px transparentize($accent, 0.9), inset 0 0 20px -3px transparentize($accent, 0.9)

$break-small: 540px