$default-text-color: #222934
$dark-accent: #9a9a9a
$accent: #dedede
$bright-accent: #fafafa
$accent-hover: darken($bright-accent, 2%)

$green: #54f18e
$dark-blue: #34a7fc
$light-blue: lighten($dark-blue, 8%)
$red: #f96868
$orange: #ffb76b

$subtle-shadow: 0 0 3px 3px rgba(62, 103, 184, 0.01), 0 4px 15px rgba(67, 107, 185, 0.03)
$rest-shadow: 0 0 3px 3px rgba(62, 103, 184, 0.01), 0 4px 15px rgba(67, 107, 185, 0.03)
$hover-shadow: 0 5px 12px rgba(67, 106, 185, .12), 0 1px 4px rgba(67, 106, 185, .03), 0 -5px 15px -1px rgba(67, 106, 185, .01), inset 0 0 20px -3px rgba(67, 106, 185, .025)
