@import './mixins'
@import './variables'

$version-width: 800px

.container
	position: relative

	&:last-of-type 
		.date
			border: none

		.version
			margin-bottom: 0

.version
	@include transition(background-color, box-shadow, transform)
	@include entry-shadow
	width: 524px
	height: $spacing * 2.5
	border-radius: $spacing * 1.25
	background: $entry-bg
	margin-bottom: $spacing * 2
	padding: 0 $spacing
	display: flex
	cursor: pointer

	h3
		margin: 0 16px 0 0

	h4
		font-weight: 400
		min-width: $spacing * 6

	h4, h5
		margin: 0

	&:hover
		background-color: $entry-hover-bg
		border-color: transparent

	span
		svg
			width: 18px
			height: 18px

	> span:not(:first-child):last-child
		> span
			margin-left: 10px

	.counter
		h5
			margin-left: $spacing / 2
			color: $text
			font-weight: 400
			font-size: 0.96rem
		
		> span
			border-radius: 50%

		svg, g, path
			fill: $text
			margin: 4px


.base
	@include dot($orange)
	
.critical
	@include dot($red)

.released
	@include dot($green)

.date
	$width: $spacing * 7
	height: 12px
	width: $width
	position: absolute
	left: -$width
	top: 13px
	border-right: 2px solid $accent
	text-transform: uppercase
	color: $light-text
	font-weight: 400
	font-size: 0.76rem
	padding-bottom: 58px
	z-index: -1

@media screen and (max-width: $break-small)
	.date
		display: none

	.version
		width: 320px

		h3
			min-width: $spacing * 2