@import './mixins'
@import './variables'
	
.container
	@include container

.tiles-container
	margin: $spacing auto

.time-reports
	max-width: 50vw

.client
	background-color: $entry-bg
	position: relative

	&:not(:last-child):before
		border-right: 1px solid $dark-accent

	&:before
		content: ''
		width: 14px
		height: 24px
		position: absolute
		top: 34px

	h3, h5
		margin-top: 8px
		margin-bottom: 8px

	> span > span
		label
			margin-right: auto
			margin-left: $spacing

.error-modal
	max-width: 60vw

.details
	@include transition(box-shadow)
	box-shadow: $rest-shadow
	border-radius: $default-border-radius
	background-color: $entry-bg
	min-width: $spacing * 10 * 2
	position: relative

	label
		font-size: 0.9rem

	svg
		width: 20px
		height: 20px

	h3
		color: $dark-accent
		text-transform: uppercase
		font-size: 1rem

	h4
		margin-top: $spacing / 2

	h6
		color: $dark-accent
		font-size: 0.9rem
		margin-top: 8px
		margin-bottom: 8px

	img
		width: $spacing * 3
		height: $spacing * 3
		border-radius: 50%
		box-shadow: $rest-shadow

	.edit-icon
		position: absolute
		right: $spacing
		top: $spacing

	.action-type
		border-radius: 50%
		width: 24px
		height: 24px
		padding: 2px

		g, path
			fill: $dark-text
	
