@import './styles/Variables.sass'

html
	background-color: #f6f6f6

body
	margin: 0
	padding: 0
	font-family: "Rubic", -apple-system, "Roboto","Arial", sans-serif
	-webkit-font-smoothing: antialiased
	color: $default-text-color
	height: 100vh

code
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%)
	color: white
	padding: 16px
	margin: 16px 0
	border-radius: 6px
	text-overflow: clip
	overflow: hidden
	box-shadow: 0 5px 12px rgba(67, 106, 185, .12), 0 1px 4px rgba(67, 106, 185, .03), 0 -5px 15px -1px rgba(67, 106, 185, .01), inset 0 0 20px -3px rgba(67, 106, 185, .45)
	font-family: "SF Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

table
	width: 100vw
	font-size: 0.8rem

label
	margin: 0px 16px
	text-transform: uppercase
	font-size: 0.84rem
	font-weight: 500
	user-select: none

label.light
	color: $dark-accent

form
	display: flex
	flex-flow: column
	min-width: 400px
	max-width: 700px
	padding: 16px

h1
	margin: 32px 16px
	font-weight: 500
	font-size: 3em
	line-height: 58px
	user-select: none

h2
	line-height: 40px
	margin: 16px 0px
	font-weight: 400
	font-size: 2.2rem
	user-select: none

svg
	fill: $default-text-color

textarea
	border: 0
	resize: none
	transition: all .23s ease-out
	border: 1px solid brighten($accent, 5%)
	border-radius: 10px
	margin: 16px 0 0
	font-size: 0.86rem
	padding: 16px
	background-color: $bright-accent

	&:focus, &:hover
		outline: none
		box-shadow: $rest-shadow
		background-color: $accent-hover

	&::placeholder
		color: $dark-accent

.text-overflow
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

.shrink
	transform: scale(0.96)

.row
	display: flex
	flex-flow: row wrap

.column
	display: flex
	flex-flow: column wrap

.spread
	display: flex
	justify-content: space-between

.center-x
	justify-content: center

.center-y
	align-items: center

.expand
	> * 
		flex-grow: 1

.container-page
	position: absolute
	top: 0
	left: 0
	width: 100vw
	min-height: 100vh
	// height: 100%
	overflow: scroll
	display: flex
	justify-content: center
	align-items: center
	scroll-behavior: smooth
	// will-change: transform, opacity

.switch
	margin: 0 0 0 auto !important

.react-switch-bg	
	margin: 0 !important

.dropzone
	display: flex
	margin: 16px
	padding: 16px
	border-radius: 10px
	background-color: $bright-accent
	color: $dark-accent
	transition: all .23s ease-out
	font-weight: 400
	overflow: hidden
	align-items: center
	cursor: pointer

	label
		color: $default-text-color
		margin-right: 0px

	&:focus, &:hover
		outline: none
		box-shadow: $rest-shadow
		background-color: $accent-hover

	&-active
		background-color: transparentize($green, 0.9)

.background
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	position: fixed
	z-index: -1
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	overflow: hidden

$break-phone: 440px
@media screen and (max-width: $break-phone)
	button
		margin: 16px auto !important
		min-width: 160px !important

	form
		flex-grow: 1

	h1
		font-size: 4rem