@import './styles/variables'

html
	background-color: #f6f6f6

body
	margin: 0
	padding: 0
	font-family: "Rubic", -apple-system, "Roboto","Arial", sans-serif
	-webkit-font-smoothing: antialiased
	color: $text
	height: 100vh

code
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%)
	color: white
	padding: 16px
	margin: 16px 0
	border-radius: 6px
	text-overflow: clip
	overflow: hidden
	box-shadow: 0 5px 12px rgba(67, 106, 185, .12), 0 1px 4px rgba(67, 106, 185, .03), 0 -5px 15px -1px rgba(67, 106, 185, .01), inset 0 0 20px -3px rgba(67, 106, 185, .45)
	font-family: "SF Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

table
	width: 100vw
	font-size: 0.8rem

label
	text-transform: uppercase
	font-size: 0.84rem
	font-weight: 500
	user-select: none

label[light]
	color: $dark-accent

form
	display: flex
	flex-flow: column
	min-width: 400px
	max-width: 700px

h1
	font-weight: 500
	font-size: 3em
	line-height: 58px
	user-select: none

h2
	line-height: 40px
	font-weight: 400
	font-size: 2.2rem
	user-select: none

svg
	fill: $dark-accent !important
	g 
		fill: $dark-accent !important


textarea
	border: 0
	resize: none
	transition: all .23s ease-out
	border: 1px solid brighten($accent, 5%)
	border-radius: 10px
	font-size: 0.86rem
	padding: 16px
	background-color: $entry-bg

	&:focus, &:hover
		outline: none
		box-shadow: $rest-shadow
		background-color: $entry-hover-bg

	&::placeholder
		color: $dark-accent

.background
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	position: fixed
	z-index: -1
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	overflow: hidden

// $break-phone: 640px
// @media screen and (max-width: $break-phone)
	
// 	button
// 		margin: 16px auto !important
// 		min-width: 160px !important

	
// 		flex-grow: 1

// 	h1
// 		font-size: 4rem