@import './styles/Variables.sass'

html
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)

body
	margin: 0
	padding: 0
	font-family: "Rubic", -apple-system, "Roboto","Arial", sans-serif
	-webkit-font-smoothing: antialiased
	color: $default-text-color

code
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%)
	color: white
	padding: 16px
	margin: 16px 0
	border-radius: 6px
	text-overflow: clip
	overflow: hidden
	box-shadow: 0 5px 12px rgba(67, 106, 185, .12), 0 1px 4px rgba(67, 106, 185, .03), 0 -5px 15px -1px rgba(67, 106, 185, .01), inset 0 0 20px -3px rgba(67, 106, 185, .45)
	font-family: "SF Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

.key-path
	position: relative
	overflow: hidden

	&:after
		content: 'COPY'
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #fdfbfbdb
		color: $default-text-color
		transition: all .33s ease-out
		opacity: 0
		cursor: pointer
		font-weight: 700
		font-size: 1.8rem
		display: flex
		justify-content: center
		align-items: center

	&:hover
		&:after
			opacity: 1

table
	width: 100vw
	font-size: 0.8rem

label
	margin: 0px 16px
	text-transform: uppercase
	font-size: 0.84rem
	font-weight: 500

#root
	min-height: 100vh
	display: flex
	align-items: center
	justify-content: center
	overflow-x: scroll

.shrink
	transform: scale(0.96)

.row
	display: flex

	> *
		flex-grow: 1

form
	display: flex
	flex-flow: column
	min-width: 400px
	max-width: 700px
	padding: 16px

h1
	margin: 32px 16px
	font-weight: 700
	font-size: 3em
	// text-shadow: 0px 3px 3px rgba(33, 81, 175, 0.07), 0px 4px 15px rgba(21, 56, 125, 0.1)

h2
	margin: 16px 0px
	font-weight: 500
	font-size: 2.2rem

svg
	fill: $default-text-color

.spread
	display: flex
	justify-content: space-between

.container-page
	position: fixed
	top: 0
	left: 0
	min-width: 100vw
	min-height: 100vh
	display: flex
	justify-content: center
	align-items: center